[Desktop Entry]
Type=Application
Name=SonarPractice
Exec=/usr/bin/SonarPractice
Icon=/usr/share/icons/hicolor/scalable/apps/sonarpractice.svg
Terminal=false
